
.render {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.renderCanvas{
  position: relative;
}

#containerObjects{
  text-align: center;
  width: 50%;
  height: 50px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 80%;
  margin-left: 30%;
}

.imagesObjects{
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 5px;
}

.pointer {
  cursor: pointer;
}

#color-picker{
  position: absolute;
  top: 0;
  left: 10px;
  width: 150px;
  height: 308px;
}
#Hotspot_1{
  position: absolute;
  top: 0;
  right: 10px;
  width: 300px;
  height: 308px;
  display: none;
}

.color-list {
    width: 100px;
    margin: -10px -35px;
}

.blanco{
  background-color: #FFFFFF;
  border: 1px solid #828282;
}

.amarillo{
  background-color: #ECE11B;
}

.naranja{
  background-color: #FF8049;
}

.bermellon{
  background-color: #E34E3A;
}

.rojo{
  background-color: #D3313E;
}

.carmin{
  background-color: #C34D59;
}

.granate{
  background-color: #594416;
}

.rosa {
    background-color: #D24C81;
}

.purpura {
    background-color: #A04C7E;
}

.morado {
    background-color: #76528F;
}

.azulon {
    background-color: #273B7A;
}

.azul {
    background-color: #389DC9;
}

.lima {
    background-color: #E2F460;
}

.verde {
    background-color: #BEEA55;
}

.gris {
    background-color: #29303A;
}

.negro {
    background-color: black;
}

.picker-box{
  right: 25px !important;
}

.title{
  height: 50px;
  padding: 17px 15px 0;
  color: #828282;
  -size: 1.1em;
  font-weight: bold;
}

.color-list li{
  display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    margin: 0px 5px;
}


.render.clicked {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.render.pointer {
    cursor: pointer;
}

.webgl-gui {
    position: absolute;
    width: 200px;
    bottom: 20px;
    right: 20px;
}

.webgl-button {
    float: right;
    display: block;
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: black;
    border-radius: 80%;
}


.icon-cardboard {
    background-position: 4px 8px !important;
}

.icon-fullscreen {
    background-size: 130%;
    background-position: 4px -289px !important;
}

.icon-play {
    background-size: 130%;
    background-position: 7px -321px !important;
}

.icon-pause {
    background-size: 130%;
    background-position: -28px -321px !important;
}

.progress-container {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.progress {
    background-color: rgb(229,233,235);
    height: 0.25em;
    position: relative;
    width: 23em;
}

.progress-bar {
    background-size: 23em 0.25em;
    height: 100%;
    width: 0%;
    position: relative;
    background-color: #3399FF;
}
